body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
  padding-top: 50px;
}

.box {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

input, button {
  padding: 10px;
  margin: 10px;
}
